<footer class="footer">
  <div class="footer-part">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-xs-12 detail-cols">
          <div class="footer-col">
            <a href="#" class="footer-logo"
              ><img src="/images/ACE Gold Logo Transparent.png" width="60%"
            /></a>
            <p>
              We at DIGIGOLD want to make your Gold &amp; Silver journey Simple,
              Transparent, and Digital.
            </p>
            <div class="footer-logo-main"></div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-12 quick-linkscols">
          <div class="footer-col">
            <p class="linkheader">Quick Links</p>
            <ul>
              <li>
                <a href="https://www.digigold.com/page/privacy-policy"
                  >Privacy Policy</a
                ><a href="page/refund-policy.html"></a>
              </li>
              <li><a href="page/contact-us.html">Contact us</a></li>
              <li><a href="index.html">Contact Vault Keeper</a></li>
              <li><a href="index.html">Buy Back</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2 col-xs-12 company-cols">
          <div class="footer-col">
            <p class="linkheader">Company</p>
            <ul>
              <li><a href="page/about-us.html">About Us</a></li>
              <li><a href="blogs.html">Our Blog</a></li>
              <li><a href="https://www.digigold.com/faq">FAQ</a></li>
              <li><a href="page/terms-of-use.html">Terms Of Use</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 contact-cols">
          <div class="footer-col contact-us">
            <p class="linkheader">Contact Us</p>
            <p>
              19-20-21, Narayan Chambers, <br />3rd Floor, Behind Patang Hotel,
              <br />Ashram Road, Ahmedabad -380009.
            </p>
            <p><a href="tel:917574009400">+91 75 7400 9400</a>&nbsp;</p>
            <p>
              <a href="mailto:support@digigold.com">support@digigold.com</a>
            </p>
          </div>
        </div>
        <div class="col-sm-2 col-xs-12 social-cols">
          <div class="social-media">
            <a href="https://www.facebook.com/digigoldind" target="__blank"
              ><i class="fa fa-facebook" aria-hidden="true"></i
            ></a>
            <a href="https://www.instagram.com/digigoldind/" target="__blank"
              ><i class="fa fa-instagram" aria-hidden="true"></i
            ></a>
            <a href="https://twitter.com/digigoldind" target="__blank"
              ><i class="fa fa-twitter" aria-hidden="true"></i
            ></a>
            <a href="https://www.linkedin.com/company/digigold" target="__blank"
              ><i class="fa fa-linkedin" aria-hidden="true"></i
            ></a>
            <a
              href="https://www.youtube.com/channel/UC5hNuESG8VecSQRQhwdM41Q"
              target="__blank"
              ><i class="fa fa-youtube-play" aria-hidden="true"></i
            ></a>
            <a
              href="https://api.whatsapp.com/send?phone=917574009400"
              target="__blank"
              ><i class="fa fa-whatsapp" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-8">
              <p style="text-align: left">
                Copyright &copy; 2023 <a href="#">AceGold.com</a> All Rights
                Reserved
              </p>
            </div>
            <div class="col-md-4">
              <p style="text-align: right">
                Designed &amp; Developed by
                <a
                  href="https://datahex.in/"
                  target="_blank"
                  rel="noopener"
                  style="color: rgb(59, 217, 59)"
                  >DataHex</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
